@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat+Alternates:wght@200&family=Poppins:ital,wght@0,200;0,300;0,500;1,600&family=Rubik+Bubbles&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
@font-face {
  font-family: 'Rubik' ;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}